nav {
    background-color: #1877F2;
}

body {
    background-color: #F0F2F5;
    color: #050505;
}

h1 {
    color: #1877F2;
}

@keyframes fade-in {
    from { opacity: 0;}
    to {opacity: 1;}
}

.fade-in-element {
    animation: fade-in 1.4s;
}

#profile-pic {
    background-color: #1877F2;
    border-radius: 23% 77% 70% 30% / 30% 75% 25% 70%;
}

.gear-container{
    min-width: 320px;
    max-width: 980px;
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
    min-height: 320px;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cckw {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.gear {
    float: none;
    position: absolute;
    text-align: center;

    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#gear1 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g1.png') no-repeat 0 0;
    height: 85px;
    left: 31px;
    top: 45px;
    width: 85px;

    animation-name: ckw;
    animation-duration: 10s;
}

#gear2 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g2.png') no-repeat 0 0;
    height: 125px;
    left: 105px;
    top: 10px;
    width: 125px;

    animation-name: cckw;
    animation-duration: 16.84s;
}

#gear3 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g3.png') no-repeat 0 0;
    height: 103px;
    left: 149px;
    top: 118px;
    width: 103px;

    animation-name: ckw;
    animation-duration: 13.5s;
}

#gear4 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g4.png') no-repeat 0 0;
    height: 144px;
    left: 46px;
    top: 173px;
    width: 144px;

    animation-name: cckw;
    animation-duration: 20.2s;
}

#gear5 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g1.png') no-repeat 0 0;
    height: 85px;
    left: 127px;
    top: 292px;
    width: 85px;

    animation-name: ckw;
    animation-duration: 10s;
}

#gear6 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g2.png') no-repeat 0 0;
    height: 125px;
    left: 200px;
    top: 283px;
    width: 125px;

    animation-name: cckw;
    animation-duration: 16.84s;
}

#gear7 {
    background: url('http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g3.png') no-repeat 0 0;
    height: 103px;
    left: 277px;
    top: 217px;
    width: 103px;

    animation-name: ckw;
    animation-duration: 13.5s;
}

.carousel-control-prev {
    left: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

.carousel-control-next {
    right: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

#social {
    position: fixed;
    top: 50%;
}

#social button:hover{
    transform: translateX(10px);
    transition: .5s;
}

#linkedin {
    background: #0077ba;
}

#github {
    background: #050505;
}

footer {
    background-color: #FFFFFF;
    color: #67696D;
}
