nav {
    background-color: #1877F2;
}

body {
    background-color: #F0F2F5;
    color: #050505;
}

h1 {
    color: #1877F2;
}

@keyframes fade-in {
    from { opacity: 0;}
    to {opacity: 1;}
}

.fade-in-element {
    animation: fade-in 1.4s;
}

#profile-pic {
    background-color: #1877F2;
    border-radius: 23% 77% 70% 30% / 30% 75% 25% 70%;
}

.carousel-control-prev {
    left: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

.carousel-control-next {
    right: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

#social {
    position: fixed;
    top: 50%;
}

#social button:hover{
    transform: translateX(10px);
    transition: .5s;
}

#linkedin {
    background: #0077ba;
}

#github {
    background: #050505;
}

footer {
    background-color: #FFFFFF;
    color: #67696D;
}
